<!--
<div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>   

--> 

<div class="row">
    <div class="col s10 offset-s1">
        <div class="card center">
            <div class="card-content">

                <h4 class="center">Start Exploring</h4>

                <form id="search-form" method="POST">
                    <div class="input-field">
                        <input id="search-query" name="query" type="text" class="validate" required>
                        <label for="search-query">Search Query</label>
                    </div>
                    <button type="submit" class="btn btn-large indigo darken-2">Search<i class="fa fa-search right"></i></button>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="location-details col s6 offset-s3">
        <label for="longitude">Longitude</label><span id="longitude"></span>
        <label for="latitude">Latitude</label><span id="latitude"></span>
    </div>
</div>

<div class="row">
    <div class="col s3">

        <div class="card">
            <div class="card-content">
                <h4>location-name</h4>
                <h4>venue-name</h4>
                <p>location-city location-state</p>
                <h5>location-distance</h5>
            </div>
        </div>

    </div>
</div>


