<div class="row search">
    <div class="col s10 offset-s1">
        <div class="card center">
            <div class="card-content">

                <h4>Start Exploring</h4>

                <form id="search-form" method="POST">
                    <div class="input-field">
                        <input id="search-query" name="query" type="text" class="validate" required>
                        <label for="search-query">What do you like?</label>
                    </div>
                    <button type="submit" class="btn btn-large indigo darken-2">Search<i class="fa fa-search right"></i></button>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="row location">
    <div class="col s10 offset-s1">
        <div class="card">
            <div class="card-content">

                <div class="location-details center">
                    <h5>Your Location</h5>
                    <label for="longitude">Longitude</label><span id="longitude"></span>
                    <label for="latitude">Latitude</label><span id="latitude"></span>
                </div>

            </div>
        </div>
    </div>
</div>  

<div id="results">

</div>


