<div class="background valign-wrapper">

    <div class="row">
        <div class="col s12">
            <a href="/explore" class="btn btn-large black">Explore Places</a>
            <a href="/places" class="btn btn-large black">Visit Places</a>
        </div>
    </div>

</div>